h1 {
  color: rgb(51, 49, 45);
}

.todo-div li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 4vmin;
  border: 1px solid white;
  margin: 2vmin;
  padding: 2vmin;
  border-radius: 8px;
  width: 80%;
}

.todo-div li span {
  margin: 0 4vmin;
}

.todo-div li {
  list-style: none;
}

.number-style {
  background-color: rgba(0, 0, 0, 0.78);
  color: white;
  padding: 10px 17px;
  margin-right: 1vmin;
  border-radius: 50px;
}

.btn-check {
  font-size: 4vmin;
  background-color: rgba(240, 248, 255, 0.248);
  border: none;
  outline: 2px solid white;
  border-radius: 8px;
}

.btn-check:hover {
  background-color: rgb(212, 212, 223);
  cursor: pointer;
}